@charset "utf-8";

@font-face {
	font-family: "fyt";
	src: url("../Fonts/fyt.ttf");
}
@font-face {
	font-family: "zdy1";
	src: url("../Fonts/zdy1.ttf");
}
@font-face {
	font-family: "zdy2";
	src: url("../Fonts/zdy2.ttf");
}
@font-face {
	font-family: "zdy3";
	src: url("../Fonts/zdy3.otf");
}

.kt {
  font-family: "kt";
  src:
	local("Caecilia"),local("楷体"),local("楷体_GB2312"),
	local("Kaiti"),local("Kaiti SC"),local("Kaiti TC"),				/*iOS6+iBooks3*/
	local("MKai PRC"),local("MKaiGB18030C-Medium"),local("MKaiGB18030C-Bold"),			/*Kindle Paperwihite*/
	local("DK-KAITI"),
	url(../Fonts/kt.ttf);
}

.fs {
  font-family: "fs";
  src:
	local("amasis30"),local("仿宋"),local("仿宋_GB2312"),
	local("Yuanti"),local("Yuanti SC"),local("Yuanti TC"),			/*iOS6+iBooks3*/
	local("DK-FANGSONG"),
	url(../Fonts/fs.ttf);
}

.ht {
  font-family: "ht";
  src:
	local("黑体"),local("微软雅黑"),
	local("Heiti"),local("Heiti SC"),local("Heiti TC"),				/*iOS6+iBooks3*/
	local("MYing Hei S"),local("MYing Hei T"),local("TBGothic"),
	url(../Fonts/kt.ttf);
}