@page { 
    margin: 0px;
}

body {
	padding: 0;
    margin-top: 0;
    margin-bottom: 0;
	line-height: 130%;
	text-align: justify;
	font-family: "DK-SONGTI";

}

p {
	text-align: justify;
    text-indent: 2em;
    duokan-text-indent: 2em;
	line-height: 130%;
	margin-right: 0;
	margin-left: 0;
}

div {
    margin: 0px;
    padding: 0px;
    line-height: 130%;
    text-align: center;
    font-family: "zw";
}

div.logo {
  margin: 0em;
  text-align: center;
  text-indent: 0em;
  duokan-text-indent: 0em;
  duokan-bleed: lefttopright;
  qrbleed:left top right;
  bleed:left top right;
}
div.logo img {
    width: 100%;
}

h2.head {
  margin: 0.2em 0 1.5em 0;
  font-size: 1.2em;
  color: #b50a02;
  line-height: 1.2em;
  font-family: "fyt";
  text-align: center;
  text-indent: 0;
  duokan-text-indent: 0;
  font-weight: 500;
}
h2.head small {
  font-family: "zdy2";
  padding: 2px 4px 2px 4px;
  color: #262727;
  font-size: 0.65em;
  text-align: center;
  font-weight: 900;
}

h2.head2 {
  margin: 0.2em 0 1.5em 0;
  font-size: 1.2em;
  color: #b50a02;
  line-height: 1.2em;
  font-family: "fyt";
  text-align: center;
  text-indent: 0;
  duokan-text-indent: 0;
  font-weight: 500;
}
h2.head2 small {
  font-family: "zdy1";
  padding: 2px 4px 2px 4px;
  color: #262727;
  font-size: 0.65em;
  text-align: center;
  font-weight: 900;
}

h2.head3 {
  margin: 0.2em 0 1.5em 0;
  font-size: 1.3em;
  color: #b50a02;
  line-height: 1.2em;
  font-family: "fyt";
  text-align: left;
  text-indent: 0;
  duokan-text-indent: 0;
  font-weight: 500;
}
h2.xsnj{font-family:"宋体";font-size:1.5em;width:1em;color:#800000;margin:0.5em auto 1.5em 4%;border-right:1px solid #2F4F4F;border-left:1px solid #2F4F4F;padding:6px 3px;}

.bskk {
    margin: 0 auto;
    width: 98%;
    border-radius:10px;
    background-color:rgba(250,250,250,0.5);
    color: #000;
    padding:1em 5px;
	font-size: 1em;
}
p.post {
    font-family: "DK-FANGSONG",仿宋,"fs","fangsong",楷体;
}

/*卷标题*/
h1.part-title {
  padding: 1em 0 0;
  text-align: center;
  font-size: 1.2em;
  font-family: "fyt";
  line-height: 200%;
  color: #696150;
  margin: 1.3em 0 0;
}

h1.part-title span {
  font-family: "fyt";
  font-size: 1.5em;
  font-weight: 300;
}
.js, .jsl{
	font-family: "zdy1",黑体,"ht",sans-serif;
	padding: 0;
	margin: 0.8em 0 1em;
}
.js p{
	text-align: right;
	text-indent: 0em;
	duokan-text-indent: 0em;
	font-size: 0.85em;
	line-height: 120%;
}
.jsl p{
  text-indent: 0em;
  duokan-text-indent: 0em;
  font-size: 0.85em;
  line-height: 120%;
}

/*分隔*/
div.fenge {
   margin: 1.5em 0;
    padding: 0px;
    line-height: 130%;
    text-align: center;
}

p.xbt {
  font-family: "zdy3";
  margin: 1.5em 0em 0.8em;
  color: #000;
}
span.num2 {
  font-size: 1em;
  color: #fff;
  background-color: #144a74;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  font-family: "zdy3";
}
span.txt2 {
   color: #135858;
    font-family: "楷体";
    font-size: 0.95em;
}
.txt1 {
  font-family: "zdy3";
  color:#556fb5;
  text-indent: 0em;
  duokan-text-indent: 0em;
  text-align: 0;
  font-size: 1.1em;
}
h5.ltle{
	margin:1.5em auto 1em auto;
	padding:0 4px 0 4px;
	line-height:130%;
	font-family: "zdy1";
	font-size:1.05em;
	color:#273C7B;
	text-align:center;
    text-indent: 0em;
    font-weight: 900;
}

span.szbig{
  font-size: 1.4em;
  font-weight: 500;
  margin-right: 0.1em;
}

p.end {
  color: #b50a02;
  display: block;
  font-family: "zdy1";
  line-height: 130%;
  text-align: center;
  text-indent: 0;
  duokan-text-indent: 0em;
  margin: 2em auto;
  font-weight: bold;
}

@media amzn-kf8{
  p {
	margin: 0.6em 0;
  }
}
@media amzn-mobi{
  p {
	margin: 0.6em 0;
  }
}


/*版权样式*/
div.intor {
  width: 40%;
  margin: 1em auto 1em;
  text-align: center;
  border: 0.01 transparent solid;
  box-shadow: 2% 2% 5% rgba(33, 33, 33, 0.6);
}
img.intor {
  width: 100%;
}
h1.copyright {
    line-height: 130%;
    font-size: 1.3em;
    text-align: center;
    color: #fca104;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: "fyt","楷体";
}
.banquan {
    text-align: left;
    color: #000;
    font-size: 0.9em;
    margin: 1em;
    text-indent: 0em;
    duokan-text-indent: 0em;
}
p.post {
    font-family: "fs",仿宋,"DK-FANGSONG","fangsong","黑体",sans-serif;
    text-indent: 2em;
    duokan-text-indent: 2em;
    margin: 0.8em 0;
}
p.cr {
    font-family: "kt","楷体","Kaiti","仿宋",sans-serif;
    margin: 1em 0 0;
    padding: 5px 0px 5px 10px;
    text-indent: 0em;
    duokan-text-indent: 0em;
    border-left: 5px solid #a9b5c1;
    font-size: 0.9em;
}