body.fen {
    background-image: url(../Images/f95.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    text-indent: 0em;
    font-weight: normal;
    text-align: center;
}
h1.h1 {
    font-family: "myss","ZY-KAITI","kt";
    line-height: 1.8em;
    color: #3a4431;
    font-size: 1.45em;
    margin: 2.5em 0em 2em 0em;
}
h1.h2{
    font-family: "fzqys","ZY-KAITI","kt";
    font-size: 1.25em;
    line-height: 1.8;
    color: #3a4431;
    margin-top: 27%;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    border-radius: 2px;
}
div.logo {
    text-align: center;
    text-indent: 0em;
    duokan-text-indent: 0em;
    margin-top: -3.5em;
    margin-bottom: 0em;
    margin-right: -3.5em;
    margin-left: -3.5em;
}
h2{
    font-family: "fzqys","ZY-KAITI","kt";
    text-indent: 0em;
    font-weight: normal;
    line-height: 1.8em;
    color: #3a4431;
    font-size: 1.3em;
    text-align: center;
    margin: 1em 0em 2em 0em;
}
blockquote {
    margin: 1.2em 0 1.2em 1em;
}
blockquote p {
    font-family: "ZY-FANGSONG","fs";
    line-height: 1.8em;
    font-size: 1em;
    margin: 0.5em 0;
    color: #412938;
}
.no {
	text-indent: 0em;
	duokan-text-indent: 0em;
}
.right {
    margin: 1.5em 0 0em 0em;
    font-size: 0.97em;
    text-align: right;
}
div{padding: 0.6em 0;}

div p{
    text-align: center;
    text-indent: 0em;
    font-family: "fs2";
    font-size: 1em;
    margin: 0.5em 0;
    white-space: nowrap;
}
.center {
   text-align: center;
   text-indent: 0;
}
.kh {
    font-size: 0.98em;
    font-family: "ZY-KAITI","kt";
    color: #412938;
}
html, body {
   margin-top: 0;
   margin-bottom: 0;
   margin-left: 0;
   margin-right: 0;
   padding: 0;
   text-align: justify;
}
body{font-family: "st";} 

.cover {
   text-align: center;
   text-indent: 0;
}
p{
   text-indent: 2em;
   margin: 0.5em 0;
   line-height: 1.8em;
   text-align: justify;
   text-justify: inter-ideograph;
}
.fs{font-family: "ZY-FANGSONG","fs";}
.kt{font-family: "ZY-KAITI","kt";}

body.copy {
    background-image: url(../Images/f97.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.vol {
    font-family: "ZY-KAITI","ht";
    font-size: 0.96em;
    text-indent: 0em;
    text-align: center;
    padding: 1em;
    margin: 1.5em auto 1.3em auto;
    color: #3B2735;
}
.bookname{
    font-family: "ZY-XIAOBIAOSONG","h2";
    font-size: 90%;
    text-align: justify;
    text-indent: 0em;
    duokan-text-indent: 0em;
    margin-top: 4em; 
    color: #412938;
}
.cp {
    font-family: "ZY-FANGSONG","fs";
    font-size: 75%;
    text-align: justify;
    text-indent: 0em;
    duokan-text-indent: 0em; 
    margin: 0.7em 0 0.7em 0;
    color: #412938;
}
.cp1 {
    font-family: "ZY-FANGSONG","fs";
    font-size: 75%;
    text-align: justify;
    text-indent: 0em;
    duokan-text-indent: 0em; 
    margin: 0.7em 0 0.7em 3em;
    color: #412938;
}
p.bottom{margin-bottom: 5em;}	

hr{
    width: 100%;
    height: 1px;
    margin: 0.9em 0 0.9em 0;
    border-style: none;
    border-top: 1px dotted gray;
    color: #A2906A;
}
.duokan-image-single {  
     text-align: center;
     text-indent: 0em;
     duokan-text-indent: 0em;
     margin: 1.5em 0;
}
.DKimg-left {
     float: left;
     clear:both;
     width:50%;
     margin: 0.5em 0.25em 1em 0em;
}
.DKimg-right {
     float: right;
     clear:both;
     width:50%;
     margin: 0.5em 0em 1em 0.25em;
}
.image {  
     text-align: center;
     text-indent: 0em;
     duokan-text-indent: 0em;
     margin: 0.8em 0;
}